number_vm = 3
path_pool = "/home/penthium2/vm/terraform/pool"
path_img = "/home/penthium2/vm"
vm_image =  "Fedora-Cloud-Base-38-1.6.x86_64.qcow2"
name_vm = "swarm-"
ram     = 4096
vcpu = 4
size = 25032385536
timeout_ssh = "15m"
portainer_fqdn = "port.bzhack.pcp"
ctfd_fqdn = "ctfd.bzach.pcp"
