SCW_ACCESS_KEY = ""
SCW_SECRET_KEY = ""
SCW_PROJECT_ID = ""
vm_type        = "PLAY2-MICRO"
number_master  = 3

tags = [
  "Env   = PROD",
  "Type  = CTF"
]

trusted_ip = [
  "127.0.0.1/32",
  "127.0.0.2/32"
]

banned_ip = [
    "88.129.243.78/32",
    "58.57.83.242/32"
  ]
  
drop_port = [
  22,
  # 80,
  #81, # port challenge
  111,
  # 443,
  #666,  # port challenge
  #2241, # port challenge
  #2242, # port challenge
  2377,
  3000,
  3300,
  4789,
  6789,
  6800,
  6801,
  6802,
  6803,
  6804,
  6805,
  6806,
  6807,
  6808,
  6809,
  6810,
  6811,
  7150,
  7946,
  8000,
  8443,
  9093,
  9094,
  9095,
  9100,
  9283,
]